@import url(http://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono);

body {
  margin: 0;
}

.editor {
  font-family: Ubuntu Mono;
  position: absolute;
  width: 100%;
  height: 50%;
}
.editor div {
  width: 33.33%;
  height: 100%;
  position: relative;
}
#frame {
  font-family: Ubuntu;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
}
